nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	font-family: 'Poppins', sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: #426aaa;
}

nav li {
	list-style: none;
}

img {
	height: 10vh;
}



.logo {
	letter-spacing: 5px;	
	text-transform: uppercase;
	border: solid 3px;
	padding: 5px;
	font-size: 3vh;
	color: white;
}

.nav-list {
	display: flex;
	justify-content: space-between;
	width: 30%;
	font-size: 2vh;
	color: white;
}

.sign-out {
	font-size: 1.5vh;
	color: white;
}

