nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	font-family: 'Poppins', sans-serif;
	padding: 0px;
	margin: 0px;
	background-color: #426aaa;
}

nav li {
	list-style: none;
}

img {
	height: 10vh;
}



.logo {
	letter-spacing: 5px;	
	text-transform: uppercase;
	border: solid 3px;
	padding: 5px;
	font-size: 3vh;
	color: white;
	transition: all .25s ease-in-out;
}

.logo:hover {
	transform: scale(1.2);
}

.nav-list {
	display: flex;
	justify-content: space-between;
	width: 30%;
	font-size: 2vh;
	color: white;

}

.sign-out {
	font-size: 1.5vh;
	color: white;

}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

.navItem:hover {
	animation: bounce 1s;
}