.navBar {
	display: flex;
	justify-content: flex-end;
}

.space {
	display: flex;
	justify-content: space-around;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 10vh;
	font-family: 'Poppins', sans-serif;
}

nav li {
	list-style: none;
}

img {
	height: 10vh;
}



.logo {
	letter-spacing: 5px;	
}

.nav-list {
	display: flex;
	justify-content: space-between;
	width: 23%;
}